<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- enctype 속성과 속성값은 기존 텍스트말고도 첨부파일 관련한 애를 담기 위해서 쓰이는 속성임. -->
<form action="/save" method="post" enctype="multipart/form-data">
    제목: <input type="text" name="boardTitle" required><br>
    작성자: <input type="text" name="boardWriter" required><br>
    비밀번호: <input type="text" name="boardPass" required><br>
    내용: <input type="text" name="boardContents" required><br>
<!--    multiple 속성은 여러개의 다중 파일을 넣기 위해서 사용.-->
    파일: <input type="file" name="boardFile" multiple><br>
    <input type="submit" value="작성">
</form>

</body>
</html>